@charset "UTF-8";

/* ELEMENTOS */

.janelaDicas {
    display: flex;
    border: 5px solid var(--verdeAmarelo);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.281);
    margin: 15px 30px 0px 30px;
    padding: 15px 0px;
    text-align: left;
}

.janelaDicas:hover {
    background-color: rgba(250, 245, 171, 0.425);
}

#divisao {
    width: 100vw;
    height: 10px;
    background-color: var(--verdeSuave);
}

/* INTRODUÇÃO */

.tituloAmarelo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--verdeAmarelo);
    margin: 30px 0px;
    padding: 30px;
}

.titulo {
    font-size: 2em;
    text-align: left;
    padding: 0;
    color: var(--pretoSuave);
}

.imagemAmarelo {
    width: 60px;
    height: auto;
    padding: 0;
}

/* SEÇÕES */

.titulosAulas {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: var(--verdeSuave);
    margin: 30px 0px;
    padding: 30px;
}

.numeroAula {
    font-size: 4em;
    padding: 0px;
}

.enfeiteLinha {
    width: 2px;
    height: 60px;
    border-radius: 100px;
    background-color: var(--verdeEscuro);
    margin: 0px 10px;
}

.tituloAulaNumerada {
    font-size: 1.5em;
    text-align: left;
    padding: 0px;
}


/* TABELA */

#tabela {
    width: 80%; 
    max-width: 600px; 
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px auto; 
}

#tabela th,
#tabela td {
    padding: 12px 15px; 
    border: 1px solid #ddd;
    word-wrap: wrap;
}

#tabela thead {
    background-color: rgba(144, 238, 144, 0.7);
    color: #333;
}

#tabela thead th {
    text-align: center;
    font-weight: bold;
}

#tabela tbody td {
    text-align: left;
    vertical-align: top;
}

#tabela tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tabela tbody tr:hover {
    background-color: #e0fae4;
}