@charset "UTF-8";

/* CORES */

:root {
    --verdeClaro: #B1FA73;
    --verdeSuave: #96E072;
    --verdeNormal: #00FF84;
    --verdeEscuro: #01563F;
    --verdeAmarelo: #F9F871;
    --pretoSuave: #282828;
    --brancoSuave: #F5F9F2;
}

/* PADRÃO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--brancoSuave);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--verdeEscuro);
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    font-weight: bold;
}

button {
    all: unset;
    cursor: pointer;
}

.botaoVerde {
    padding: 20px;
    margin: 0px 30px 30px 30px;
    font-size: 18px;
    background-color: var(--verdeSuave);
    color: var(--verdeEscuro);
    font-weight: bold;
    border-radius: 10px;
}

.botaoVerde:hover {
    background-color: var(--verdeEscuro);
    color: var(--verdeSuave);
    transition-duration: 0.2s;
}

.botaoAmarelo {
    padding: 30px;
    margin: 30px;
    font-size: 18px;
    background-color: var(--verdeAmarelo);
    color: var(--pretoSuave);
    font-weight: bold;
    border-radius: 10px;
}

.botaoAmarelo:hover {
    background-color: var(--pretoSuave);
    color: var(--verdeAmarelo);
    transition-duration: 0.2s;
}

/* CELULAR */

h1 {
    font-size: 36px;
}

p {
    font-size: 16px;
}

/* CABEÇALHO */

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header img {
    height: 60px;
}

.menuInicial, .calculadoraFinanceira, .aulasEducacaoFinanceira {
    display: none;
}

/* RODAPÉ */

footer {
    font-size: 11px;
}

.imagensRodape {
    display: flex;
    justify-content: space-between;
}

.imagensRodape div {
    margin: 30px;
}

.iconePorquinho {
    width: 60px;
    margin: 30px;
}

.instagram, .facebook, .whatsapp {
    border-radius: 100px;
    width: 30px;
    margin: 15px;
}

footer section {
    display: flex;
}

footer h3 {
    margin: 0px 30px;
}

footer ul {
    margin: 15px 30px;
    list-style: none;
    padding-left: 0;
}

footer ul li {
    position: relative;
    padding-left: 15px;
}

footer ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background-color: var(--verdeNormal); 
    border-radius: 50%; 
}

footer p {
    margin: 30px;

    text-align: left;
    font-size: 11px;
}

html {
    scroll-behavior: smooth;
}

.voltarTopo {
    position: fixed;
    bottom: 20px;   
    right: 20px;     
    z-index: 999;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.30;
    transition: opacity 0.3s;
}

.voltarTopo:hover {
    opacity: 1;
}

.voltarTopo img {
    width: 100%;
    height: 100%;
    display: block;
}