/* PRINCIPAL */

#imagemSecao1 {
    max-width: 100%;
    height: auto;
    padding: 0px 30px;
}

.faixaAviso {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--pretoSuave);
    background-color: var(--verdeAmarelo);
    padding: 30px;
}

.faixaAviso h2 {
    font-size: 1.5em;
    padding: 0;
}

.faixaAviso p {
    text-align: left;
    padding: 0;
}

.linhaEnfeite {
    background-color: var(--pretoSuave);
    border-radius: 100px;
    width: 2px;
    height: 30px;
    margin: 0px 15px;
}

#principal2 h1 {
    text-align: left;
    padding: 30px;
}

#principal3 {
    background-color: var(--verdeSuave);
    margin-top: 30px;
}

#principal3 h1 {
    text-align: left;
}

#imagemSecao2 {
    max-width: 100%;
    height: auto;
    padding: 0px 30px 30px 30px;
}