/* ==========================================
    ESTILOS DA SEÇÃO PRINCIPAL (HOME)
   ========================================== */

#imagemSecao1 {
    max-width: 100%;
    height: auto;
    padding: 0px 30px;
}

.faixaAviso {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--pretoSuave);
    background-color: var(--verdeAmarelo);
    padding: 30px;
}

.faixaAviso h2 {
    font-size: 1.5em;
    padding: 0;
}

.faixaAviso p {
    text-align: left;
    padding: 0;
}

.linhaEnfeite {
    background-color: var(--pretoSuave);
    border-radius: 100px;
    width: 2px;
    height: 30px;
    margin: 0px 15px;
}

#principal1 p {
    text-align: center;
} 

#principal3 p, 
#principal2 p {
    text-align: left;
    padding: 0px 30px;
}

#principal1 div, 
#principal2 div, 
#principal3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#principal2 h1 {
    text-align: left;
    padding: 30px;
}

#principal3 div {
    background-color: var(--verdeClaro);
    margin-top: 30px;
}

#principal3 h1 {
    text-align: left;
}

#imagemSecao2 {
    max-width: 100%;
    height: auto;
    padding: 30px;
}

@media screen and (min-width: 1024px) {

        /* Seção1 desktop */

    #principal1 {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-end; 
        margin: 0 auto;
        padding: 60px 10% 0 10%;
        overflow: hidden; 
    }

    #textoPrincipal1 {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 0 60px 0;
    }

    #principal1 h1 {
        font-size: 2.5em;
        text-align: left;
        line-height: 1.2;
        padding: 0 0 20px 0;
    }

    #principal1 p {
        font-size: 1.2em;
        padding: 0 0 30px 0;
        text-align: left;
    }

    #principal1 .linkDoBotao {
        justify-content: flex-start;
        margin: 0;
    }

    #principal1 .botaoVerde {
        margin: 0;
        width: 100%;
        padding: 20px 40px;
    }

    #imagemSecao1 {
        width: 800px;
        height: auto;
        max-width: 60%;
        margin: 0 0 -5px 0;
        padding: 0;
    }
    .faixaAviso {
        flex-direction: row !important;
        padding: 40px 20% !important; 
        justify-content: center; 
        width: 100%;
    }

    .faixaAviso h2 {
        font-size: 2.2em;
        padding: 0;
    }

    .faixaAviso p {
        font-size: 1.6em;
        padding: 0;
    }

    .linhaEnfeite {
        height: 60px;
        width: 3px;
        margin: 0 40px;
    }

    /* --- SEÇÃO PRINCIPAL 2 --- */
    #principal2 {
        padding: 60px 10% !important;
        align-items: flex-start !important; 
        text-align: left !important;
        max-width: 1600px;
        margin: 0 auto;
    }

    #principal2 h1 {
        font-size: 2em;
        padding: 0 0 60px 0;
        text-align: left;
    }

    #principal2 ul {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
    }

    #principal2 li {
        position: relative;
        padding: 0 0 15px 30px;
        font-size: 1.3em;
        font-weight: normal; 
        color:var(--pretoSuave);
    }

    #principal2 li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px; 
        height: 60%;       
        background-color: var(--verdeClaro);
        border-radius: 10px;
    }

    #principal2 p {
        font-size: 2em;
        font-weight: bold;
        color: var(--pretoSuave);
        padding: 0;
        max-width: 900px;
        line-height: 1.3;
    }

    /* --- SEÇÃO PRINCIPAL 3 --- */
    #principal3 {
        background-color: var(--brancoSuave) !important;;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center !important;
        padding: 0 10% !important; 
        text-align: left !important;
        max-width: 1600px;
        margin: 0 auto;
        overflow: hidden; 
    }

    #principal3 div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        justify-content: center;
        padding-bottom: 60px; 
        max-width: 600px;
        background-color: var(--brancoSuave);
    }

    #principal3 h1 {
        font-size: 2em;
        text-align: left;
        line-height: 1.1;
    }

    #principal3 p {
        font-size: 1.2em;
        color: var(--pretoSuave);
        padding: 0 30px 30px 30px !important;
        text-align: left;
    }

    #principal3 a {
        margin-left: 30px;
        width: 500px;
    }

    .botaoAmarelo {
        margin: 0;
        padding: 20px 30px;
        font-size: 1.5em;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    #imagemSecao2 {
        flex: 1;
        max-width: 40vw !important;
        height: auto;
        padding: 60px !important;
        display: block;
    }

    .divisoriaVerde {
        background-color: var(--verdeSuave);
        width: 100%;
        height: 5px;
    }

}