@charset "UTF-8";

:root {
    --verdeClaro: #B1FA73;
    --verdeSuave: #96E072;
    --verdeNormal: #00FF84;
    --verdeEscuro: #01563F;
    --verdeAmarelo: #F9F871;
    --pretoSuave: #282828;
    --brancoSuave: #F5F9F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--brancoSuave);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--verdeEscuro);
}

span {
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 16px;
}


