@charset "UTF-8";

:root {
    --verdeClaro: #B1FA73;
    --verdeSuave: #96E072;
    --verdeNormal: #00FF84;
    --verdeEscuro: #01563F;
    --verdeAmarelo: #F9F871;
    --pretoSuave: #282828;
    --brancoSuave: #F5F9F2;
}

