@charset "UTF-8";

/* CORES */

:root {
    --verdeClaro: #B1FA73;
    --verdeSuave: #96E072;
    --verdeNormal: #00FF84;
    --verdeEscuro: #01563F;
    --verdeAmarelo: #F9F871;
    --pretoSuave: #282828;
    --brancoSuave: #F5F9F2;
}

/* PADRÃO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--brancoSuave);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--verdeEscuro);
}

span {
    font-weight: bold;
}

/* CELULAR */

h1 {
    font-size: 36px;
}

p {
    font-size: 16px;
}

button {
    all: unset;
    cursor: pointer;
}

/* CABEÇALHO */

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header img {
    height: 60px;
}

.menuInicial, .calculadoraFinanceira, .aulasEducacaoFinanceira {
    display: none;
}

/* MAIN PAGINA INICIAL */

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SEÇÃO 1 */

#principal1 h1, p {
    margin: 0px 30px 30px 30px;
    text-align: center;
}

.botaoVerde {
    padding: 20px;
    margin: 0px 30px 30px 30px;
    font-size: 20px;
    background-color: var(--verdeSuave);
    color: var(--verdeEscuro);
    font-weight: bold;
    border-radius: 10px;
}

#imagemSecao1 {
    width: 400px;
    margin: auto;
}

.faixaAviso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    background-color: var(--verdeAmarelo);
}

.faixaAviso h2 {
    margin: 15px 0px 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.linhaEnfeite {
    height: 30px;
    padding: 1px;
    margin: 15px;
    border-radius: 100px;
    background-color: var(--verdeEscuro);
}

.faixaAviso p {
    text-align: left;
    margin: 15px 30px 15px 0px;
}

/* SEÇÃO 2 */

#principal2 h1 {
    margin: 30px;
}

#principal2 ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#principal2 ul li {
    display: flex;              
    align-items: center;        
    margin: 0px 30px 15px 0px;     
}

#principal2 ul li::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url('../media/ulEnfeite.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0; 
}

#principal2 p {
    text-align: left;
    margin: 0px 30px 30px 30px;
}

/* SEÇÃO 3 */

#principal3 {
    background-color: var(--verdeSuave);
}

#principal3 h1 {
    margin: 60px 30px 30px 30px;
}

#principal3 p {
    margin: 0px 30px;
    text-align: left;
}

.botaoAmarelo {
    padding: 30px;
    margin: 30px;
    font-size: 20px;
    background-color: var(--verdeAmarelo);
    color: var(--pretoSuave);
    font-weight: bold;
    border-radius: 10px;
}

#imagemSecao2 {
    width: 350px;
    margin: 0px 30px 30px 30px;
}

/* RODAPÉ */

footer {
    font-size: 11px;
}

.imagensRodape {
    display: flex;
    justify-content: space-between;
}

.imagensRodape div {
    margin: 30px;
}

.iconePorquinho {
    width: 60px;
    margin: 30px;
}

.instagram, .facebook, .whatsapp {
    border-radius: 100px;
    width: 30px;
    margin: 15px;
}

footer section {
    display: flex;
}

footer h3 {
    margin: 0px 30px;
}

footer ul {
    margin: 15px 30px;
    list-style: none;
    padding-left: 0;
}

footer ul li {
    position: relative;
    padding-left: 15px;
}

footer ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background-color: var(--verdeNormal); 
    border-radius: 50%; 
}

footer p {
    margin: 30px;

    text-align: left;
    font-size: 11px;
}

html {
    scroll-behavior: smooth;
}

.voltarTopo {
    position: fixed;
    bottom: 20px;    /* distância da parte de baixo */
    right: 20px;      /* distância da esquerda */
    z-index: 999;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.30;
    transition: opacity 0.3s;
}

.voltarTopo:hover {
    opacity: 1;
}

.voltarTopo img {
    width: 100%;
    height: 100%;
    display: block;
}